# How to open a csv file?

In [1]:
ls

 Volume in drive C is Windows8_OS
 Volume Serial Number is 2692-BF8D

 Directory of C:\Users\story645\Desktop\gcdri_ts_cat_ml

06/05/2016  10:15 PM    <DIR>          .
06/05/2016  10:15 PM    <DIR>          ..
06/05/2016  09:44 PM    <DIR>          .git
06/05/2016  04:05 PM               764 .gitignore
06/05/2016  09:49 PM    <DIR>          .ipynb_checkpoints
06/05/2016  10:15 PM            11,772 cat_ts_1.ipynb
06/05/2016  10:15 PM            96,918 cat_ts_2.ipynb
06/05/2016  04:34 PM           112,951 pd_collections.csv
06/05/2016  09:43 PM               532 README.md
06/05/2016  06:36 PM               546 README.md~
               6 File(s)        223,483 bytes
               4 Dir(s)  134,968,049,664 bytes free

In [2]:
#use the pandas data analytics library
import pandas as pd

In [3]:
#the read_csv function loads in the file, which we assign to the df variable
df = pd.read_csv("pd_collections.csv")

In [4]:
#look at the beginning of the file
df.head(3)

,Title,Date,Date Start,Date End,Language,Resource Type,Genre,Number of Items
0,Maps of North America.,NaN,NaN,NaN,NaN,NaN,NaN,591
1,Cigarette cards,1900,1900.0,1999.0,NaN,still image,Cigarette cards,90
2,Billy Rose Theatre Collection photograph file,1865,1865.0,2005.0,NaN,still image,Photographs,381

In [5]:
#look at the end of the file
df.tail(3)

,Title,Date,Date Start,Date End,Language,Resource Type,Genre,Number of Items
929,The Greenes of Rhode Island: with historical r...,1903,1903.0,NaN,English,text | still image,Books | Family histories,1
930,Genealogy of the Willcomb family of New Englan...,1902,1902.0,NaN,English,text | still image,Books | Family histories,2
931,Schieffelin family papers,1756,1756.0,1908.0,English,text,maps (documents) | military records | photogra...,2

In [6]:
#can also view whole, but usually impractical
df

,Title,Date,Date Start,Date End,Language,Resource Type,Genre,Number of Items
0,Maps of North America.,NaN,NaN,NaN,NaN,NaN,NaN,591
1,Cigarette cards,1900,1900.0,1999.0,NaN,still image,Cigarette cards,90
2,Billy Rose Theatre Collection photograph file,1865,1865.0,2005.0,NaN,still image,Photographs,381
3,Thomas Addis Emmet collection,1483,1483.0,1876.0,English,text,Manuscripts,5160
4,Print Collection portrait file,1800,1800.0,1929.0,NaN,still image | text,Clippings | Portraits | Illustrations | Prints...,10
5,Robert N. Dennis collection of stereoscopic views,1850,1850.0,1930.0,NaN,still image,Stereoscopic views,42198
6,Mid-Manhattan Picture Collection,NaN,NaN,NaN,NaN,still image,"Clippings (Books, newspapers, etc.) | Prints |...",35
7,"Photographic views of New York City, 1870's-19...",1870,1870.0,1980.0,NaN,still image,Photographs,1
8,The Vinkhuijzen collection of military uniforms,NaN,NaN,NaN,English,still image,Scrapbooks | Drawings,30925
9,The Buttolph collection of menus,1851,1851.0,1930.0,NaN,text,Menus,17947
10,New York World's Fair 1939-1940 records,1935,1935.0,1945.0,NaN,text | still image,Architectural drawings | artifacts | Ephemera ...,1
11,Billy Rose Theatre Division scrapbooks,NaN,NaN,NaN,NaN,text | still image,Scrapbooks,13
12,American popular songs.,NaN,NaN,NaN,NaN,notated music,Sheet music covers | Sheet music,4725
13,Yaddo records,1870,1870.0,1980.0,English,text | still image,Archival materials | Documents | Correspondenc...,1
14,Maps of New York City and State,NaN,NaN,NaN,NaN,cartographic,Atlases | Maps,1464
15,New York Public Library Visual Materials,1875,1875.0,NaN,NaN,mixed material,Photographs | blueprints | prints | Transparen...,1224
16,Children's book illustrations,NaN,NaN,NaN,NaN,still image,Illustrations,5
17,"Robinson Locke Collection, 1870-1920.",1870,1870.0,1920.0,NaN,mixed material,Photographs | Programs | Clippings | Scrapbooks,26
18,"Robert Brewster Stanton papers, 1851-1960, bul...",1851,1851.0,1960.0,NaN,mixed material,Diaries | photographs | Maps | field notes,70
19,Wonders: Images of the Ancient World,NaN,NaN,NaN,NaN,still image,clippings | Prints | Illustrations | Photographs,1
20,Samuel J. Tilden papers,1794,1794.0,1886.0,English,text,Documents | Correspondence | personal papers,1563
21,Holiday postcards,NaN,NaN,NaN,NaN,still image,Postcards,3
22,Bookbinding : books bequeathed by William Augu...,1880,1880.0,1910.0,NaN,three dimensional object,Bookbinding,704
23,Circle in the Square papers,1906,1906.0,2004.0,English,text | still image,Promotional materials | Photographs | technica...,1
24,Renaissance and medieval manuscripts collectio...,NaN,NaN,NaN,NaN,still image,illuminated manuscripts,1537
25,Pacific pursuits : Postcards,1900,1900.0,1940.0,NaN,still image,postcards,619
26,Posters : arranged by artists.,1893,1893.0,1924.0,NaN,still image,Posters,2
27,Lawrence H. Slaughter Collection of English ma...,1540,1540.0,1870.0,NaN,cartographic | still image | text,Maps | Atlases,1020
28,Oscar Lion Collection,NaN,NaN,NaN,English,text,Correspondence | Manuscripts | Scrapbooks,1
29,Farm Security Administration Photographs,NaN,NaN,NaN,NaN,still image,Photographs,2597
...,...,...,...,...,...,...,...,...
902,Noah Webster papers,1764,1764.0,1843.0,English,text,correspondence | diaries | commonplace books |...,67
903,Tres índices expurgatorios de la Inquisición E...,1952,1559.0,NaN,Spanish,text,NaN,2
904,Madam Modjeska scrapbooks,1877,1877.0,1898.0,English,text | text | still image,scrapbooks,2
905,Beauty and the beast,1890,1890.0,1899.0,NaN,still image,Picture books,1
906,Hansel and Gretel and other stories,1920,1920.0,1929.0,English,text | still image,NaN,1
907,Middlemarch: a study of provincial life,1871,1871.0,1872.0,English,text,Fiction | Books,8
908,A handbook for Greek and Roman lace making,1869,1869.0,NaN,NaN,still image,"patterns | Specimens | Handbooks, manuals, etc.",2
909,Album of Peruvian sketches,1840,1840.0,NaN,NaN,still image,Drawings | Sketches | Albums,1
910,"Vida de la venerable negra, la madre sor There...",1757,1757.0,NaN,Spanish,text,Manuscripts,1
911,Anne Allen: etchings,NaN,NaN,NaN,NaN,NaN,Prints,2
912,Teatro Delle Nobili Et Virtvose Donne: Dove Si...,1616,1616.0,NaN,Italian,still image,patterns | Prints,1
913,Der Raupen wunderbare Verwandelung: und sonder...,1679,1679.0,1683.0,German,still image | text,NaN,1
914,Diana Scultori: engravings,NaN,NaN,NaN,NaN,still image,Prints,1
915,Elisabetta Sirani: prints,NaN,NaN,NaN,NaN,NaN,Prints,2
916,Duyckinck Collection,1496,1496.0,1845.0,NaN,still image,Prints,1
917,"Conditions in the Paint Creek district, West V...",1913,1913.0,NaN,English,text | still image,NaN,1
918,Maria Cosway: prints,NaN,NaN,NaN,NaN,still image,Prints,2
919,Jackson Architectural Iron Works,1900,1900.0,1909.0,English,still image,Prints | Albums,1
920,The races of man: an outline of anthropology a...,1900,1900.0,NaN,English,text | still image | cartographic,Books,3
921,Local planning and zoning: a manual of powers ...,1945,1945.0,NaN,English,text | cartographic,Pamphlets,1
922,Theodorus Bailey Myers collection,1542,1542.0,1879.0,English | German | French | Latin,text,correspondence | engravings | paper money | Au...,1810
923,Five sketchbooks,1853,1853.0,1881.0,NaN,still image,Drawings,1
924,The cabinet gallery of pictures by the first m...,1834,1834.0,NaN,English,text | still image,Books,1
925,Awful shipwreck: An affecting narrative of the...,1836,1836.0,NaN,English,text | still image,Pamphlets,1
926,Elaine Lustig Cohen Dada Collection,1916,1916.0,1985.0,NaN,text | still image,NaN,5
927,Histoire de l'art par les monumens: depuis sa ...,1823,1823.0,NaN,French,still image,NaN,1
928,Jacques Offenbach und das Paris seiner Zeit,1937,1937.0,NaN,German,text | still image,Biographies | Books,6
929,The Greenes of Rhode Island: with historical r...,1903,1903.0,NaN,English,text | still image,Books | Family histories,1
930,Genealogy of the Willcomb family of New Englan...,1902,1902.0,NaN,English,text | still image,Books | Family histories,2
931,Schieffelin family papers,1756,1756.0,1908.0,English,text,maps (documents) | military records | photogra...,2

# How do we get a quick overview?

In [7]:
df.describe()

C:\Users\story645\Anaconda\envs\py35\lib\site-packages\numpy\lib\function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

        Date Start     Date End  Number of Items
count   799.000000   352.000000       932.000000
mean   1829.767209  1892.863636       204.127682
std     119.705982    78.082458      1897.816791
min    1003.000000  1460.000000         1.000000
25%            NaN          NaN         1.000000
50%            NaN          NaN         3.000000
75%            NaN          NaN        42.000000
max    2000.000000  2013.000000     42198.000000

In [8]:
 df.describe(include ='all')

C:\Users\story645\Anaconda\envs\py35\lib\site-packages\numpy\lib\function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Title,Date,Date Start,Date End,Language,Resource Type,Genre,Number of Items
count,932,813,799.000000,352.000000,369,773,685,932.000000
unique,929,322,NaN,NaN,30,27,311,NaN
top,"Oriental album. Characters, costumes, and mode...",1860,NaN,NaN,English,still image,Periodicals,NaN
freq,2,13,NaN,NaN,252,397,63,NaN
mean,NaN,NaN,1829.767209,1892.863636,NaN,NaN,NaN,204.127682
std,NaN,NaN,119.705982,78.082458,NaN,NaN,NaN,1897.816791
min,NaN,NaN,1003.000000,1460.000000,NaN,NaN,NaN,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.000000
max,NaN,NaN,2000.000000,2013.000000,NaN,NaN,NaN,42198.000000

In [9]:
#lets look at one column
df['Resource Type'].head()

0                   NaN
1           still image
2           still image
3                  text
4    still image | text
Name: Resource Type, dtype: object

In [10]:
#if you forget the column names
df.keys()

Index(['Title', 'Date', 'Date Start', 'Date End', 'Language', 'Resource Type',
       'Genre', 'Number of Items'],
      dtype='object')

In [11]:
#Lets get the frequency of each type
df['Resource Type'].value_counts()

still image                                      397
text                                             143
text | still image                               113
still image | text                                65
mixed material                                    11
cartographic                                       9
text | cartographic                                4
notated music                                      4
text | still image | cartographic                  3
three dimensional object                           3
still image | cartographic                         3
still image | text | cartographic                  2
text | still image | notated music                 2
text | still image | three dimensional object      1
moving image                                       1
text | mixed material | still image                1
three dimensional object | text                    1
text | still image | mixed material                1
text | mixed material                              1
still image | text | three dimensional object      1
notated music | still image                        1
text | still image | sound recording               1
text | sound recording-nonmusical                  1
cartographic | still image | text                  1
three dimensional object | cartographic            1
still image | three dimensional object             1
text | text | still image                          1
Name: Resource Type, dtype: int64

# How can we parse column information?

In [12]:
#http://pandas.pydata.org/pandas-docs/stable/text.html
#Creates a table by separating text with | into seperate columns
Rtypes = df['Resource Type'].str.get_dummies(sep='|')
Rtypes.head()

,cartographic,mixed material,mixed material,notated music,sound recording,sound recording-nonmusical,still image,still image,text,text,...,mixed material,moving image,notated music,notated music,still image,still image,text,text,three dimensional object,three dimensional object
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

In [13]:
#lets get the frequency of each type
Rtypes.sum()

 cartographic                   13
 mixed material                  2
 mixed material                  1
 notated music                   2
 sound recording                 1
 sound recording-nonmusical      1
 still image                   116
 still image                     9
 text                           67
 text                            4
 three dimensional object        3
cartographic                     9
cartographic                     1
mixed material                  11
moving image                     1
notated music                    4
notated music                    1
still image                    397
still image                     72
text                           143
text                           129
three dimensional object         3
three dimensional object         2
dtype: int64

In [14]:
#lets see what the doubling is about
Rtypes.keys()

Index([' cartographic', ' mixed material', ' mixed material ',
       ' notated music', ' sound recording', ' sound recording-nonmusical',
       ' still image', ' still image ', ' text', ' text ',
       ' three dimensional object', 'cartographic', 'cartographic ',
       'mixed material', 'moving image', 'notated music', 'notated music ',
       'still image', 'still image ', 'text', 'text ',
       'three dimensional object', 'three dimensional object '],
      dtype='object')

In [15]:
#spacing! so lets see if we can fix that
df['Resource Type'].str.replace(" ","").head()

0                NaN
1         stillimage
2         stillimage
3               text
4    stillimage|text
Name: Resource Type, dtype: object

In [16]:
#what's going on here:
" resource type ".replace(" ","")

'resourcetype'

In [17]:
Rtype = df['Resource Type'].str.strip().str.replace(" ","").str.get_dummies("|")
Rtype.head()

,cartographic,mixedmaterial,movingimage,notatedmusic,soundrecording,soundrecording-nonmusical,stillimage,text,threedimensionalobject
0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1,1,0

In [18]:
#count of resource types
Rtype.sum()

cartographic                  23
mixedmaterial                 14
movingimage                    1
notatedmusic                   7
soundrecording                 1
soundrecording-nonmusical      1
stillimage                   594
text                         342
threedimensionalobject         8
dtype: int64

Activity
=========
Find the frequencies in the Genre column

# What can we do with this information?

In [19]:
#filtering: lets find those collections that are cartographic
df['Resource Type'].str.contains('cartographic').head()

0      NaN
1    False
2    False
3    False
4    False
Name: Resource Type, dtype: object

In [20]:
#nan is a problem, so lets fix that
df['Resource Type'].fillna("N/A", inplace=True)
df['Resource Type'].head()

0                   N/A
1           still image
2           still image
3                  text
4    still image | text
Name: Resource Type, dtype: object

In [21]:
#All boolean now
df['Resource Type'].str.contains('cartographic').head()

0    False
1    False
2    False
3    False
4    False
Name: Resource Type, dtype: bool

In [22]:
#We can use that as a filter
df['Title'][df['Resource Type'].str.contains('cartographic')]

14                       Maps of New York City and State
27     Lawrence H. Slaughter Collection of English ma...
32                          Atlases of the United States
36     Spezialkarte der Osterreichisch-Ungarischen Mo...
46                              Atlases of New York City
64       Atlases, gazetteers, guidebooks and other books
91     English counties delineated: or, A topographic...
94     Puteshestvīe na Vostok Ego Imperatorskago Vyso...
117    Rossīĭskago kup︠t︡sa Grigorī︠i︡a Shelekhova st...
173    Commentarii Academiae scientiarum imperialis P...
262                                     Hunt-Lenox Globe
467             Materīaly po istorīi russkoĭ kartografīi
555                                Maps of South America
564    Voyage d'exploration a la mer Morte, a Petra, ...
573                                       Maps of Europe
609    México y sus alrededores. Coleccion de vistas ...
690    Memoirs of Zehir-Ed-Din Muhammed Baber, empero...
724    Commissioners' plan of Manhattan Island and re...
741    Maps used by General Butterfield on the battle...
768    Thom's official directory of the United Kingdo...
797    Housing: public housing, slum clearance, quasi...
920    The races of man: an outline of anthropology a...
921    Local planning and zoning: a manual of powers ...
Name: Title, dtype: object

In [23]:
#What about getting modern collections?
(df['Date']>2000)

TypeError: unorderable types: str() > int()

In [24]:
#lets find out the data types of our data
df.dtypes

Title               object
Date                object
Date Start         float64
Date End           float64
Language            object
Resource Type       object
Genre               object
Number of Items      int64
dtype: object

In [25]:
#Lets find the modern records
df['Title'][df['Date Start']>1950]

59       International Gay Information Center collection
70       Art and architecture in the service of politics
105         Viaje y descripción de las Indias, 1539-1553
245                       Nueva corónica y buen gobierno
280         Mattachine Society, Inc. of New York records
474    William S. Burroughs papers, 1951-1972 bulk (1...
626           The beat generation cook book: illustrated
650    The book of hours of the Emperor Maximilian th...
677                                           Sefer Lida
742    Soldados de la memoria: Imágenes y hombres de ...
766                   Peter Joseph Krahe: Leben und Werk
791                         New neighborhoods, new lives
792       Twenty-five years of public housing: 1935-1960
793    30 years of amalgamated cooperative housing, 1...
Name: Title, dtype: object

In [26]:
#lets find modern cartographic records
df['Title'][(df['Date Start']>1900) & df['Resource Type'].str.contains('cartographic')]

797    Housing: public housing, slum clearance, quasi...
921    Local planning and zoning: a manual of powers ...
Name: Title, dtype: object

Activity
========
* Find all collections that end before 1500 that have music
* Find all collections in French with more than 20 items

# How do we find the largest collection?

In [27]:
df.sort_values(by= "Number of Items", ascending=False).head(3)

,Title,Date,Date Start,Date End,Language,Resource Type,Genre,Number of Items
5,Robert N. Dennis collection of stereoscopic views,1850,1850.0,1930.0,NaN,still image,Stereoscopic views,42198
8,The Vinkhuijzen collection of military uniforms,NaN,NaN,NaN,English,still image,Scrapbooks | Drawings,30925
9,The Buttolph collection of menus,1851,1851.0,1930.0,NaN,text,Menus,17947

In [28]:
#We can combine filtering with sorting
df[df['Resource Type'].str.contains("mixed material")].sort_values(by="Number of Items", ascending=False).head(3)

,Title,Date,Date Start,Date End,Language,Resource Type,Genre,Number of Items
15,New York Public Library Visual Materials,1875,1875.0,NaN,NaN,mixed material,Photographs | blueprints | prints | Transparen...,1224
223,United States Sanitary Commission records,1861,1861.0,1872.0,NaN,mixed material,Archival materials | Documents,254
364,"William Henry Jackson papers, 1862-1942",1862,1862.0,1942.0,NaN,text | mixed material | still image,Archival materials | Diaries | Photographs,75

Activity
=========
* Find the earliest collection
* Fnd the largest photographic collection

In [29]:
#If we had changed the df along the way, we can save it out:
df.to_csv("my_data.csv")
# there's also df.to_excel("my_data.xlsx")